/out/production/fizika-kutya/.idea/.gitignore
/out/production/fizika-kutya/Main.class
/out/production/fizika-kutya/.idea/vcs.xml
/out/production/fizika-kutya/fizika-kutya.iml
/out/production/fizika-kutya/.idea/modules.xml
/out/production/fizika-kutya/.idea/misc.xml
/out/production/fizika-kutya/.idea/discord.xml
/out/production/fizika-kutya/Person.class
